streamlit
pandas
numpy
plotly
requests
prophet
scikit-learn
xgboost
deap
scikit-optimize
textblob
tensorflow
torch
joblib
transformers
keras-tuner
matplotlib
stable-baselines3
streamlit-option-menu
gym
